body {
	font-family: Times New Roman;
	background-color: #Fbdcd0;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width: 1300px;
}

* {
	box-sizing: border-box;
}

.header {
	width: 100%;
	background-color: #Eab19b ;
	color: white;
	padding: 10px;
	margin: 16px;
	height: 100px;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	top: 10%;
	right: 10%;
}

.headerlogo > img {
	margin-top: 5px;
	position: relative;
	left: 2%;
	width: 70px;
	height: 70px;
	border: 3px #Af8474 dotted;
	border-radius: 30%;
}

.headertext1 {
	text-align: right;
	width: 100%;
	font-family: Times New Roman;
	font-size: 35px;
	font-weight: bold;
	word-spacing: 16px;
	letter-spacing: 4px;
	position: relative;
	top: -160%;
	right: 550px;
}

.headerlogo1 > a > img {
	z-index: 1;
	position: relative;
	left: 1204px;
	bottom: 235px;
	width: 40px;
	height: 40px;
}

.headerlogo2 > a > img {
	z-index: 1;
	position: relative;
	left: 1020px;
	bottom: 280px;
	width: 40px;
	height: 40px;
}

.headerlogo3 > a > img {
	z-index: 1;
	position: relative;
	left: 1145px;
	bottom: 325px;
	width: 43px;
	height: 43px;
}

.headerlogo4 > a > img {
	z-index: 1;
	position: relative;
	left: 1085px;
	bottom: 368px;
	width: 37px;
	height: 37px;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 3px solid #Af8474;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #Af8474;
}

.searchTerm:focus{
	color: #Af8474;
}

.searchButton {
	width: 20px;
	height: 20px;
	border: 1px solid #Af8474;
	background: #Af8474;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.searchButton:hover {
	background-color: #7b5d51;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
	width: 35%;
	position: relative;
	z-index: 1;
	top: -295%;
	left: 80%;
	transform: translate(-50%, -50%);
}

.categoryTitle {
	font-size: 40px;
	color: #7b5d51;
	width: 100%;
	font-weight: bold;
	margin-top: -15px;
	text-align: center;
	text-decoration: underline;
}

.column {
	width: 100%; 
	float: left;
	padding: 15px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.menu {
	width: 25%;
}

.content {
	width: 90%;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	width: 92%; 
	padding: 0px;
	margin-top: -30px;
	margin-bottom: 45px;
	background-color: #F1c2b1;
	color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.menu li:hover {
  background-color: #Af8474;
}

.modal-button {
	float: left;
	font-family: Times New Roman;
	border: none;
	background-color: #F1c2b1;
	color: white;
	width: 100%;
	height: 76.8px;
	font-size: 30px;
}

.modal-button:hover {
	background-color: #Af8474;
}

#myModal1 {
	display: block;
}

.modal {
	display: none;
    position: fixed; 
    z-index: 1; 
	padding-top: 214px;
	padding-left: 230px;
    left: 0;
    top: 0;
    width: 107%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #Eab19b;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	text-align: justify;
}

.modal-footer {
    width: 100%;
	height: 12px;
    background-color: #Eab19b;
}

.modal-gallery-bg {
	position: relative;
	background-color: white;
	height: 640px;
	width: 950px;
}

.modal-gallery > img {
	float:left;
	z-index:1;
	height: 280px; 
	border: 10px #Eab19b solid;
	margin: 20px;
}

.modal-navigation-bg {
	position: relative;
	background-color: white;
	height: 350px;
	width: 950px;
}

.modal-navigation > a {
	position: relative;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: #Eab19b;
	text-decoration: none;
}